body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;


}

nav {
    background: lightsalmon;
    padding: 2em 0;


}

nav ul {
    list-style: none;
    /* removes the dots */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /*moves the content in the nav bar at the center*/
    text-align: center;
}

nav ul li {
    margin: 1em;
}

nav ul li a {
    color: aqua;
    font-weight: bolder;

}

nav ul li a:hover {
    background: blueviolet;
    border-radius: 6px;
}

.description {
    background: lightblue;
    margin: 50px;
    padding: 1em 3em;
    border: 2px solid palevioletred;
}

.description h2 {
    text-align: center;
    color: crimson
}

.description p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.myprofile{
    display: flex;
}

.about {
   margin-left: 1em; 
   
}

.about h3 {
    color: crimson;
    text-align: center;
    font-size: larger;
    margin: 1px;
}

.about p {
    font-family: 'Times New Roman', Times, serif;
    
}

.mybutton {
    cursor: pointer;
}

/* Favorite section */
.collections {
    background-color: rgb(173, 240, 128);
    border: 2px solid black;
    margin-top: 1em;
    text-align: center;
    padding: 1em 1em;
}

.collections h2 {
    color: black;
    margin: 1em;
}

.collection-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2em;
}

.collection-item {
    justify-content: center;
    background: lightpink;
    padding: 0;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(234, 79, 45, 0.1);

}

.collection-item img {
    border-radius: 20px;
    height: 350px;
    width: 250px;
    padding: 1em;

}

.collection-item h3 {
    padding-top: 1em;
    margin: 0;
    color: crimson
}

/* footer */
footer {
    background-color: lightpink;
    color: black;
    text-align: center;


}

footer p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 0.5em 0;
}

footer ul {
    background-color: fuchsia;

}

footer li {
    list-style: none;
    margin: 0.5em;
}

footer a {
    font-weight: bolder;
    color: black;

}

footer a:hover {
    text-decoration: dotted;
}